* {
  margin:0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.tabs-title {
  overflow: hidden;
  zoom: 1;
}
.tabs-title li {
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
}
.tabs-title li.cur {
  background-color: lightblue;
}
.tabs-title li.cur a {
  color: white;
}

.tabs-content > div {
  display: none;
}